@font-face {
    font-family: 'Graphik Reg';
    src: url(./fonts/GraphikLCG-Regular.ttf);
}

@font-face {
    font-family: 'Graphik Bold';
    src: url(./fonts/GraphikLCG-Semibold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 51px;
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;

    >.svg_menu {
        padding-right: 50px;
    }

    .cont_menu {
        display: flex;
        align-items: center;
        gap: 425px;

        >.menu {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 57px;
            list-style: none;

            >.menu_item {
                color: #000;
                font-family: 'Graphik Reg';
                font-size: 15px;
                line-height: 20px;
            }
        }

        .menu_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

    }

}

.btn {
    color: #000;
    text-align: center;
    font-family: 'Graphik Bold';
    font-size: 16px;
    line-height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;

    &--orange {
        color: #fff;
        border-color: #FF6336;
        background-color: #FF6336;
    }

    &--orange--tools {
        margin-top: 32px;
        color: #fff;
        border-color: #FF6336;
        background-color: #FF6336;
        width: 193px;
    }

    &--black {
        color: #fff;
        border-color: #FF6336;
        background-color: #000;
    }


    &--nav {
        width: 120px;
        height: 45px;
    }
}

.container {
    padding: 97px 55px 50px 55px;

    .cta {
        padding: 20px 20px 130px 20px;
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20, 30px);

        h1 {
            color: #000;
            font-family: 'Graphik Bold';
            font-size: 65px;
            line-height: 70px;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 8;
            grid-column-end: 9;
            display: inline-grid;
        }

        &_text {
            color: #000;
            font-family: 'Graphik Reg';
            font-size: 25px;
            line-height: 35px;
            grid-column-start: 1;
            grid-row-start: 10;
            grid-row-end: 13;
            grid-column-end: 8;
            display: inline-grid;
        }

        span {
            color: #000;
            font-family: 'Graphik Reg';
            font-size: 15px;
            line-height: 25px;
            grid-column-start: 1;
            grid-row-start: 19;
            grid-row-end: 20;
            grid-column-end: 7;
            display: inline-grid;
        }

        &_buttons {
            display: flex;
            gap: 10px;
            grid-column-start: 1;
            grid-row-start: 16;
            grid-row-end: 18;
            grid-column-end: 8;
        }

        img {
            grid-column-start: 9;
            grid-row-start: 3;
            grid-row-end: 19;
            grid-column-end: 21;
        }
    }


}

.companies {
    padding: 96px 98px;
    background-color: #FF9C7D;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 80px;

    &>&_title {
        grid-area: 1/1/1/7;
        width: 55%;
        color: #000;
        text-align: center;
        font-family: 'Graphik Bold';
        font-size: 50px;
        line-height: 60px;
    }
}

.main {
    padding: 98px 75px 150px 75px;

    >.test {
        display: flex;
        flex-direction: column;
        gap: 250px;

        >.main_card {
            display: flex;

            .main_img {
                width: 632px;
                height: 632px;

                &--last {
                    max-width: 632px;
                    max-height: 577px;

                }
            }

            >.main_text_item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 30px;

                &--left {
                    padding-left: 137px;

                }

                >.main_text_tlt {
                    color: #000;
                    font-family: 'Graphik Bold';
                    font-size: 50px;
                    line-height: 60px;
                    width: 60%;
                }

                >.main_text {
                    color: #000;
                    font-family: 'Graphik Reg';
                    font-size: 20px;
                    line-height: 30px;

                    >.main_decor {
                        text-decoration-line: underline;
                    }

                    &--process {
                        width: 65%;
                    }

                    &--market {
                        width: 75%;
                    }

                    &--quality {
                        width: 71%;
                    }

                    &--developers {
                        width: 90%;
                    }
                }


                >.main_start {
                    color: #000;
                    font-family: 'Graphik Bold';
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }
}

.lokalise {
    background-color: #FFF8E4;
    padding: 118px 92px;

    >.lokalise_title {
        padding-bottom: 60px;
        color: #000;
        text-align: center;
        font-family: 'Graphik Bold';
        font-size: 50px;
        line-height: 60px;
    }

    .lokalise_container_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 110px;
        grid-row-gap: 75px;

        >.content {
            padding: 56px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            >.lokal_tlt {
                padding: 24px 0;
                color: #000;
                text-align: center;
                font-family: 'Graphik Bold';
                font-size: 25px;
                line-height: 35px;
            }

            >.lokal_text {
                width: 88%;
                color: #000;
                text-align: center;
                font-family: 'Graphik Reg';
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}

.boost {
    padding: 57px 20px 137px 20px;

    >.boost_title {
        color: #000;
        font-family: 'Graphik Bold';
        font-size: 50px;
        line-height: 60px;
        text-align: start;
        width: 100%;
    }

    &_container_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 31px;

        >.boost_img1 {
            padding: 75px 0 49px 0;
            grid-column-start: 1;
            grid-row-start: 1
        }

        >.boost_img2 {
            padding: 92px 0 67px 0;
            grid-column-start: 2;
            grid-row-start: 1;
        }

        >.boost_img3 {
            padding: 84px 0 58px 0;
            grid-column-start: 3;
            grid-row-start: 1;
        }

        >.boost_text {
            display: flex;
            flex-direction: column;

            >.boost_tlt {
                color: #000;
                font-family: 'Graphik Bold';
                font-size: 30px;
                line-height: 40px;
                padding-bottom: 34px;
                justify-content: flex-start;
            }

            >.boost_text_item {
                color: #000;
                font-family: 'Graphik Reg';
                font-size: 20px;
                line-height: 30px;
                width: 94%;

                >.item_api {
                    text-decoration-line: underline;
                }
            }

            >.boost_more {
                padding: 25px 0 0 0;
                color: #000;
                font-family: 'Graphik Reg';
                font-size: 20px;
                line-height: 30px;
                text-decoration-line: underline;
            }
        }
    }
}

.revolut {
    padding: 53px 75px 105px 75px;
    background-color: #C9E8F2;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(12, 2fr);

    &_text {
        color: #000;
        font-family: 'Graphik Reg';
        font-size: 32px;
        line-height: 40px;
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 12;
        grid-column-end: 19;
        display: inline-grid;
    }

    &_oficcer {
        color: #000;
        font-family: 'Graphik Reg';
        font-size: 15px;
        line-height: 25px;
        grid-column-start: 1;
        grid-row-start: 9;
        grid-row-end: 10;
        grid-column-end: 6;
        display: inline-grid;
    }

    &_icon {
        grid-column-start: 1;
        grid-row-start: 10;
        grid-row-end: 11;
        grid-column-end: 3;
        display: inline-grid;
    }

    &_photo {
        grid-column-start: 21;
        grid-row-start: 1;
        grid-row-end: 15;
        grid-column-end: 26;
        display: inline-grid;
    }

}


.software {
    padding: 70px 75px 80px 54px;
    background-color: #DABC98;

    >.software_info {
        display: flex;
        align-items: center;
        justify-content: center;

        >.software_info_text {
            color: #000;
            font-family: 'Graphik Bold';
            font-size: 35px;
            line-height: 50px;
            width: 50%;
            padding: 47px 125px 31px 67px;
            border-right: 1px solid #000;
        }

        .software_companies {
            padding: 30px 0 22px 71px;
            display: flex;
            justify-content: center;
            align-items: center;

            >.company {
                >.ranking {
                    padding: 20px 0 14px 0;
                }

                &_text {
                    color: #000;
                    font-family: 'Graphik Reg';
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 0.75px;
                }
            }
        }

    }
}

.tools {
    padding: 169px 209px 162px 209px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        color: #000;
        text-align: center;
        font-family: 'Graphik Bold';
        font-size: 65px;
        line-height: 75px;
        width: 80%;
    }

    &_text {
        color: #000;
        text-align: center;
        font-family: 'Graphik Reg';
        font-size: 25px;
        line-height: 30px;
        padding: 0 0 0 25px;
        width: 50%;
    }

}

.lokalization {
    padding: 161px 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF9C7D;

    &_title {
        color: #000;
        text-align: center;
        font-family: 'Graphik Bold';
        font-size: 65px;
        line-height: 75px;
        width: 90%;
    }

    &_text {
        padding: 29px 0 54px 0;
        color: #000;
        text-align: center;
        font-family: 'Graphik Reg';
        font-size: 20px;
        line-height: 30px;
    }

}

.case {
    padding: 95px 75px;
    background-color: #EEE;
    display: grid;
    grid-template-columns: repeat(20, 1FR);
    grid-template-rows: repeat(2, 1fr);

    >.case_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-end: 6;

        >.case_title {
            color: #000;
            font-family: 'Graphik Bold';
            font-size: 40px;
            line-height: 50px;
            padding-bottom: 25px;
        }

        >.bike {
            max-width: 100%;
        }

        >.small_icon {
            max-height: 32px;
            padding: 31px 0 11px 0;
        }

        >.case_text {
            color: #000;
            font-family: 'Graphik Reg';
            font-size: 20px;
            line-height: 30px;
            width: 90%;
        }

        >.case_more {
            color: #000;
            font-family: 'Graphik Bold';
            font-size: 20px;
            line-height: 30px;
            padding: 15px 0 0 0;
        }

        .line {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-end: 6;
        }
    }


    .case_item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 34px;
        grid-column-start: 8;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-end: 21;

        >.item_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            list-style: none;

            &--1 {
                padding: 0 75px 0 0;
            }

            &--2 {
                padding: 0 17px 0 0;
            }

            &--3 {
                padding: 0 28px 0 0;
            }

            &--4 {
                padding: 0 11px 0 0;
            }


            >.item_title {
                color: #000;
                font-family: 'Graphik Bold';
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
            }

            >.item_case {
                color: #000;
                font-family: 'Graphik Reg';
                font-size: 15px;
                font-weight: 400;
                line-height: 15px;

                &--castom {
                    width: 80%;
                }

            }
        }
    }
}

footer {
    .footer_container{

            padding: 0 75px 43px 75px;
            display: flex;
            flex-direction: row;
            align-items:center;
            background-color: #EEE;

         >.footer_info {
            padding: 53px 0 0 0;
            >.reserved_photo{
                max-width: 90px;
            }

            display: flex;
            flex-direction: row;
            border-top: 1px solid #000;

            >.footer_text {
                color: #000;
                font-family: 'Graphik Reg';
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                width: 23%;
                display: flex;
                align-items:center;
                justify-content: center;
                padding: 0 600px 0 14px;
                
            }
                    
            }
            >.rodo{            
                display: flex;
                flex-direction: column;
                border-top: 1px solid #000;
                padding: 53px 0 0 0;
            
            >.reserved_text {
                color: #000;
                font-family: 'Graphik Reg';
                font-size: 12px;
                line-height: 15px;
                
            }
        }
        }
    }

